<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{% block title %}Oh My Quant{% endblock %}</title>
  </head>
  <body>
    <! ---Vamos a crear una variable temporal  para mostrar los mensajes en la pagina--->
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
    {% with msgs = get_flashed_messages(with_categories=true) %}
      {% if msgs %}
        <ul>
          {% for category, message in msgs %}
            <li><strong>{{ category|capitalize }}:</strong> {{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    
    {% block content %}{% endblock %}
  </body>
</html>